# Django Environment Variables
SECRET_KEY=django-insecure-smart-hospital-patient-mgmt-secret-key-prod-academic
DEBUG=True
ALLOWED_HOSTS=*

# React API Endpoint
VITE_API_BASE_URL=http://127.0.0.1:8000/api
